[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopip8 = "*"
autopep8 = "*"

[packages]
telethon = "*"
pika = "*"

[requires]
python_version = "3.6"
